mat-card {
    position: relative;
    width: 30%;
    height: 35vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #7DE5FE;
    border-radius: 50px;
}

mat-card.textCard {
    width: 60%;
}

.scrollingText {
    font-size: 25px;
}

.docText {
    color: green;
}

.patientText {
    color: #0373fc;
}

.alert {
    color: red;
}

table {
    width: 100%;
}

.bottomDivs {
    display: flex;
}

.filler {
    flex: 1;
}

#pie {
    flex: 1;
}

mat-card.results {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 150vh;
    background-color: #7DE5FE;
    border-radius: 50px;
}

mat-card.diagnosis {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    flex: 1;
    margin: auto;
    margin-bottom: 7.5vh;
}

.graph {
    display: inline-block;
    width: 45%;
    margin: auto;
    flex: 1;
}

#speechIcon {
    font-size: 150px;
    text-align: center;
    justify-content: center;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
}



td.symptom-cell {
    width: 50%;
}

td.mat-cell, th.mat-header-cell {
    padding: 10px;
}

.selected {
    background-color: #585858
}




h3 {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}