/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    background-image: url('./assets/diglossiaLanding.jpg');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}
body {
    background-color: transparent;
}

span, div, td, th {
    font-family: 'Bubblegum Sans';
}
mat-form-field .mat-form-field-underline {
    background-color: white !important;
}
::ng-deep .mat-form-field-placeholder{
    color:white;
  }

  ::ng-deep .mat-focused .mat-form-field-placeholder{

    color:red;
  }